{% extends 'app_shops/base.html' %}
{% load i18n %}
{% load cache %}

{% block title %}
    {% translate 'Personal' %}
{% endblock %}

{% block body %}
    <h1>{% translate 'Personal' %}</h1>
    {% if user.is_authenticated %}
        <h2>{% translate 'Detail' %}</h2>
        <h3>{% translate 'Balance' %} : {{ balance }}</h3>
        <div>
            <h3>{% translate 'Promotions' %} : </h3>
            {% if promotions %}
                {% for action in promotions %}
                    <p>{% translate 'Name' %} #: {{ action.name }}</p>
                    <p>{% translate 'Description' %}: {{ action.description }}</p>
                    <p>{% translate 'Products' %}:
                        <ul>
                        {% for item in action.products.all %}
                            <li>{{ item.name }}</li>
                        {% endfor %}
                        </ul>
                    </p>
                {% endfor %}
            {% else %}
                <h3>{% translate 'No promotions yet' %}</h3>
            {% endif %}
        </div>
        <div>
            <h3>{% translate 'Offers' %} :</h3>
            {% if offers %}
                <ul>
                {% for offer in offers %}
                    <li>{% translate 'Name' %} #: {{ offer.name }}</li>
                    <li>{% translate 'Description' %}: {{ offer.description }}</li>
                    <li>{% translate 'Shop' %}: {{ offer.shop.name }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <h3>{% translate 'No offers yet' %}</h3>
            {% endif %}
        </div>

        {% cache 500 history %}
             {% block orders_list %}
                <div>
                    <h3>History :</h3>
                    {% if payment_history %}
                        {% for order in payment_history %}
                            <p>{% translate 'Order' %} #: {{ order.id }}</p>
                            <p>{% translate 'Address' %}: {{ order.address }}</p>
                            <p>{% translate 'City' %}: {{ order.city }}</p>
                            <p>{% translate 'Products' %}:
                                <ul>
                                {% for item in order.items.all %}
                                    <li>{{ item.product.name }} - {{ item.price }} - {{ item.quantity }}</li>
                                {% endfor %}
                                </ul>
                            </p>

                        {% endfor %}
                    {% else %}
                        <h3>{% translate 'No orders yet' %}</h3>
                    {% endif %}
                </div>
             {% endblock %}
        {% endcache %}


    {% else %}
        <h2>{% translate 'User is anonymous' %}</h2>
    {% endif %}
{% endblock %}