{% extends 'app_shops/base.html' %}
{% load i18n %}
{% load cache %}

{% block title %}
    {% translate 'Personal' %}
{% endblock %}

{% block body %}
    <h1>personal</h1>
    {% if user.is_authenticated %}
        <h2>Detail</h2>
        <h3>Balance : {{ balance }}</h3>
        <div>
            <h3>Promotions : </h3>
            {% if promotions %}
                {% for action in promotions %}
                    <p>Name #: {{ action.name }}</p>
                    <p>Description: {{ action.description }}</p>
                    <p>Products:
                        <ul>
                        {% for item in action.products.all %}
                            <li>{{ item.name }}</li>
                        {% endfor %}
                        </ul>
                    </p>
                {% endfor %}
            {% else %}
                <h3>No promotions yet</h3>
            {% endif %}
        </div>
        <div>
            <h3>Offers :</h3>
            {% if offers %}
                <ul>
                {% for offer in offers %}
                    <li>Name #: {{ offer.name }}</li>
                    <li>Description: {{ offer.description }}</li>
                    <li>Shop: {{ offer.shop.name }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <h3>No offers yet</h3>
            {% endif %}
        </div>

        {% cache 500 history %}
             {% block orders_list %}
                <div>
                    <h3>History :</h3>
                    {% if payment_history %}
                        {% for order in payment_history %}
                            <p>Order #: {{ order.id }}</p>
                            <p>Address: {{ order.address }}</p>
                            <p>City: {{ order.city }}</p>
                            <p>Products:
                                <ul>
                                {% for item in order.items.all %}
                                    <li>{{ item.product.name }} - {{ item.price }} - {{ item.quantity }}</li>
                                {% endfor %}
                                </ul>
                            </p>

                        {% endfor %}
                    {% else %}
                        <h3>No orders yet</h3>
                    {% endif %}
                </div>
             {% endblock %}
        {% endcache %}


    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}
{% endblock %}