{% extends 'app_shop/base.html' %}
{% load i18n %}
{% block title %}
    {% translate 'Update product' %}
{% endblock %}

{% block body %}
    <h1>{% translate 'Update product' %}</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% translate 'Update' %}</button>
        </form>
    </div>
    <div><a href="{% url 'app_users:about-me' %}"
    >Назад к профилю</a> </div>
{% endblock %}