{% extends 'app_users/base.html' %}

{% block title %}
    About me
{% endblock %}

{% block body %}
    <h1>User {{ profile.user.first_name }} info</h1>
    {% if user.is_authenticated %}
        <h2>Detail</h2>
        <p>Имя: {{ profile.user.username }}</p>
        <p>Баланс : {{ profile.balance }}</p>
        <p>Статус: {{ profile.status }}</p>

        <p><a href="{% url 'app_users:add-balance' %}">Пополнить баланс</a></p>

    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}
{% endblock %}