{% extends 'app_shops/base.html' %}
{% load i18n %}
{% block title %}
    {% translate 'Create order' %}
{% endblock %}

{% block body %}
    <h1>{% translate 'Create a new order' %}</h1>
    <div>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}
        <button type="submit">
            {% translate 'Create' %}
        </button>
    </form>
    </div>
    <div>
        <a href="{% url 'app_shops:orders_list' %}">{% translate 'Back to orders list' %}</a>
    </div>
{% endblock %}