{% extends 'app_shops/base.html' %}
{% load i18n %}
{% block title %}
    {% translate 'Create product' %}
{% endblock %}

{% block body %}
    <h1>{% translate 'Create product' %}</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% translate 'Create' %}</button>
        </form>
    </div>
    <br>
    <div><a href="{% url 'app_shops:products_list' %}"
    >{% translate 'Back to products list' %}</a> </div>
{% endblock %}