{% extends 'app_shops/base.html' %}

{% block title %}
    Product #{{ product.pk }}
{% endblock %}
{% block body %}
    <h1>Product <strong>{{ product.name }}</strong></h1>
    <div>
        <div>Описание: <em>{{ product.description }}</em></div>
        <div>Цена: {{ product.price }}</div>

        <div>
            {% if product.stocks %}
                Есть в наличии в следующих магазинах:
                <ul>
                    {% for store in product.stocks %}
                        <li>{{ store.shop.name }} : {{ store.stock }} шт
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                {{ cart_product_form }}
                                {% csrf_token %}
                                <input type="hidden" name="shop" value="{{ store.shop.id }}">
                                <input type="submit" value="Add to cart">
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Нет в наличии</p>
            {% endif %}
        </div>

    <p class="price">${{ product.price }}</p>


    </div>
    <div>
        <a href="{% url 'app_shops:products_list' %}">Back to products list</a>
    </div>
{% endblock %}