{% extends 'shopapp/base.html' %}

{% block title %}
    Profiles list
{% endblock %}

{% block body %}
    <h1>Profiles:</h1>
    {% if profiles %}
        <div>
        {% for profile in profiles %}
            <div>
            <p><a href="{% url 'myauth:about-me' pk=profile.pk %}"
            >Name: {{ profile.user.first_name }}</a></p>
            {% if profile.preview %}
                <img src="{{ profile.preview.url }}" alt="{{ profile.preview.name }}">
            {% endif %}
            </div>
        {% endfor %}
        </div>

    {% else %}
        <h3>No profiles yet</h3>
    {% endif %}
{% endblock %}