{% extends 'app_shops/base.html' %}

{% block title %}
    About me
{% endblock %}

{% block body %}
    <h1>User {{ profile.user.first_name }} info</h1>
    {% if user.is_authenticated %}
        <h2>Detail</h2>
        <p>Name: {{ profile.user.username }}</p>
        <p>Balance : {{ profile.balance }}</p>
        <p>Status: {{ profile.status }}</p>

        <p>
            <ul>
                <li><a href="{% url 'app_personal:orders_list' %}">Orders history</a></li>
                <li><a href="{% url 'app_personal:actions' %}">Actions</a></li>
                <li><a href="{% url 'app_personal:sales' %}">Sales</a></li>
                <li><a href="{% url 'app_personal:balance' %}">Balance</a></li>
            </ul>
        </p>

    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}
{% endblock %}